services:
  db:
    container_name: joplin_db
    hostname: db
    image: postgres:16
    volumes:
      - /docker/volumes/joplin/postgres:/var/lib/postgresql/data
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=joplin-user
      - POSTGRES_DB=joplin

  app:
    container_name: joplin_app
    hostname: app
    image: joplin/server:3.4.1
    depends_on:
      - db
    ports:
      - "127.0.0.1:8007:22300"
    restart: unless-stopped
    environment:
      - APP_PORT=22300
      - APP_BASE_URL=${APP_URL}
      - DB_CLIENT=pg
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=joplin
      - POSTGRES_USER=joplin-user
      - POSTGRES_PORT=5432
      - POSTGRES_HOST=db
