services:
  exporter:
    container_name: fail2ban_exporter
    image: christopherdoyle/fail2ban-geo-exporter:0.0.3
    restart: always
    volumes:
      - /etc/fail2ban:/etc/fail2ban:ro
      - /var/lib/fail2ban/fail2ban.sqlite3:/var/lib/fail2ban/fail2ban.sqlite3:ro
      - ./GeoLite2-City.mmdb:/app/db/GeoLite2-City.mmdb:ro
      - ./conf.yml:/app/conf.yml:ro
    networks:
      - grafana_grafana_bridge

networks:
  grafana_grafana_bridge:
    external: true
